/*Step 5*/
body{
    font-family: 'Open Sans',sans-serif;
}

/*Step 6*/
html{
    font-size: 16px;
}

/*Step 8,9,10*/
.label{
    border: 2px solid black;
    width: 270px;
    margin: 20px auto;
    padding: 0 7px;
}

/*Step 11*/
*{
    box-sizing: border-box;
}

/*Step 12,13,14,18,25*/
header h1{
    font-weight: 800;
    text-align: center;
    margin: -4px 0;
    letter-spacing: 0.15px;
}

/*Step 15,23*/
p{
    margin: 0;
    display: flex;
    justify-content: space-between;
}

/*Step 17*/
.divider{
    border-bottom: 1px solid #888989;
    margin:2px 0;
}

/*Step 20*/
.bold{
    font-weight: 800;
 }

 /*Step 27,28*/
 .large{
    height:10px;
  }
  .large,.medium{
    background-color:black;
    border:0;
  }

  /*Step 31*/
  .small-text{
    font-size:0.85rem;
  }

  /*Step 32*/
  .calories-info h2{
    margin:0;
  }

    /*Step 34*/
  .calories-info{
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
  }

  /*Step 35*/
  .left-container p{
    margin:-5px -2px;
    font-size:2em;
    font-weight:700;
 }

 /*Step 36,37*/
 .calories-info span{
    font-size:2.4em;
    font-weight:700;
    margin:-7px -2px;
  }

  /*Step 39*/
  .medium{
    height:5px;
  }

  /*Step 41*/
  .right{
    justify-content: flex-end;
  }

  /*Step 46*/
  .indent{
    margin-left:1em;
  }

  /*Step 47,49*/
  .daily-value p:not(.no-divider){
    border-bottom:1px solid #888989;
  }

  /*Step 59*/
  .double-indent{
    margin-left:2em ;
  }

  /*Step 66,67*/
  .note{
    font-size:0.6rem;
    margin:5px 0 5px 0;
    padding:0 8px 0 8px;
    text-indent:-8px;
  }